<ul class="items">
	<li class="manager indent_1" style="display: none;" id="new_list_form">
	<%= form_for(@listCreateNew, :remote => true) do |f| %>
		<% if @listCreateNew.errors.any? %>
			<div id="error_explanation">
			<h2><%= pluralize(@listCreateNew.errors.count, "error") %> prohibited this list from being saved:</h2>
			      <ul>
			      <% @listCreateNew.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
		<% end %>
	
	<table width="100%"><tbody>
		<tr><td colspan="2" class="form_content">
			<%= f.text_area :name, :class => "text_box auto_exapnd_ta", :autocomplete => "off", :style => "height: 19px;width: 187px;" %>
			</td></tr>
		<tr><td>
			<%= f.submit %>
			<a onclick="toggleCreateNewList()" class="cancel" href="#" tabindex="4">Cancel</a>
		</td>
		<td align="right"></td>
		</tr>
	</tbody></table>
	<% end %>
	</li>
</ul>