//$("[class^=popupballoon top]").fadeOut(500);
hideCreateTodolistForm();
$("[class^=listing list-view]").append("<li class='calendar'><a class='more' href='/todolists/<%= @todolist.id %>'>»</a><span class='timestamp'><%= @todolist.duedate%></span><a href='#'>Tomorrow</a><p><%= @todolist.title %></p></li>");

previewPaneSetup();

$("#counteOfTasks_<%= @todolist.list_id %>").html("<%= pluralize(@list.todolists.count, '') %>");

cleanForm("create_todolist");