<div id="show">
<p id="notice"><%= notice %></p>

<p>
  <h3>Title: <%= @todolist.title %></h3>
</p>

<p>
  	<% if @todolist.note != "" %>
  	<h4>Note:
  	<%= @todolist.note %>
	<%end%>
	</h4>
</p>

<p>
  <h4>Prio: <%= @todolist.prio %></h4>
</p>

<p>
	<h4>Duedate: <strong> <%= @todolist.duedate %></strong></h4>
</p>

  	<% if @todolist.tags.count != 0 %>
	<p><h4>This todo was tagged with:</h4>
	<p><mark>
		<% for tag in @todolist.tags %> 
		<%= tag.name %>s
		<%end%>
	</mark>
	<%end%>

<div onclick = "toggleEditForm();" class="button button-green">Edit</div> | <%= link_to 'Destroy', @todolist, confirm: 'Are you sure?', method: :delete, :remote =>  true, :class=>'button button-red' %>
</div>

<div id="edit"  style="display: none;">
<%= form_for(@todolist, :remote => true, :class => 'form grid_3') do |f| %>
<fieldset>
<legend>Update todolist</legend>
  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% @todolist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <small><%= f.label :title %></small><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <small><%= f.label :note %></small><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <small><%= f.label :duedate %></small><br />
    <%= f.date_select :duedate %>
  </div>
  <br />
  <div class="field">
	<small>Status: </small>
	<%=select_tag "todolist[compl]", options_for_select([["Open", "0"], ["Done", "1"]], :compl)%> | <small>Prio: </small><%=select_tag "todolist[prio]", options_for_select([["-1", "-1"], ["0", "0"], ["1", "1"], ["2", "2"]], :prio)%>
	</div>
<br />
  <div class="field">
	<small><%= f.label 'Tag List (Delimiter = ,)' %></small><br />
	<%= f.text_field :tag_list %>
  </div>
<br />
  <div class="actions">
    <%= f.submit :class=>"button button-orange" %> | <div onclick = "toggleEditForm();" class="button button-gray">Cancel</div>
  </div>
</fieldset>
<% end %>
</div>