<ul id="project_list" class="items">
	<div class="todolistLoadDiv">
	<% @lists.each do |list| %>
	<li class="clickable indent_1" id="list_<%= list.id %>">
		<table cellpadding="0" cellspacing="0" class="item_table">
			<tbody>
				<tr>
					<td class="counter">
						<div class="div_counter" id="div_counter_<%= list.id %>" style="color: black; background-color: rgb(221, 221, 221); ">
						<%= pluralize(list.todolists.count, "") %></div>
					</td>
					<td>
						<div class="td_separator" style="width: 1px; "></div>
					</td>
					<td class="name"><div style="word-wrap:break-word; width:100px;"><%= on_the_spot_edit list, :name, :type => :textarea, :rows => 4, :columns => 13 %></div></td>
					<td class="name">
						<%= link_to 'Show', list, :remote =>  true %>
						<%= link_to 'Destroy', list, confirm: 'Are you sure?', method: :delete, :remote =>  true %>
					</td>
				</tr>
				</tbody>
			</table>
		</li>
		<% end %>
	</div>
</ul>

<%= render "form" %>
	
	<div id="project_man" class="actions">
		<a onclick="toggleCreateNewList()" href="#" class="action">Add project</a>
		<a href="#" class="action">Reorder</a>
	</div>