<div class="list_editor">
	<h2 class="project_header">
		<div class="view_holder">
			<img src="" width="16" height="16" class="cmp_print_off"><img src="" width="16" height="16" class="cmp_email_off"><img src="" width="16" height="16" class="cmp_gear_off icon">
		</div>
		
		<span><%= @list.name%></span></h2>
		
		<ul class="items" id="todolists">
			<% @list.todolists.each do |todolist| %>
			<li class="task_item indent_1 priority_1" id="todolist_<%= todolist.id %>" style=""><table cellpadding="0" cellspacing="0">
				<tbody><tr>
					<td class="checker"><div class="amicheckbox"><img src="" width="16" height="16" class="cmp_12_checkbox_off amicheckbox_img"></div></td>
					<td class="text_cursor content"><div class="text_cursor div_due_date">
							<span class="date empty"></span></div>
							<span class="text"><%= todolist.title %>
							<span class="clickable note_icon">
							<%= link_to 'Show', todolist %>|<%= link_to 'Edit', edit_todolist_path(todolist) %>|<%= link_to 'Destroy', todolist, confirm: 'Are you sure?', method: :delete %>
							</span>
							</span>
						</td>
						<td class="menu">
							<div class="icon menu cmp_gear_off" style="visibility: hidden; "></div>
						</td>
					</tr></tbody></table>
				</li>
				<% end %>
			</ul>
		</div>
		
		<ul class="items" style="display: none;" id="new_todolist_form">
			<li class="manager indent_1">
				<%= form_for([@list, @list.todolists.build]) do |f| %>
					<table width="100%"><tbody>
						<tr><td colspan="2" class="form_content">
							    <%= f.text_field :title, :class => "text_box auto_exapnd_ta", :autocomplete => "off", :style => "height: 19px;"%></td>
						</tr>
						<tr>
							<td>
								<%= f.submit %>
								<a href="#" onclick="hideCreateNewTodolist()" class="cancel" href="" tabindex="4">I'm done adding tasks</a></td>
						</tr></tbody>
					</table>
					<% end %>
			</li>
		</ul>

		<div class="controller actions" id="pe_items_controller">
			<a onclick="showCreateNewTodolist()" href="#" class="action">Add task</a>
			<a href="#" class=" action">Reorder</a>
		</div>

		<div class="list_editor history">
			<div class="history_desc">
				<ul class="items history" id="project_history"></ul>
			</div>
		</div>
		<div class="controller actions his_ctrl">
			<a href="#" class="disabled" style="float: right; margin-right: 0px; ">Delete completed</a>
			<a href="#" class="action dimmed">Get completed tasks (<span>0</span>)</a>
		</div>