<div id="ifSaved"></div>
<%= form_for(@todolist, :remote => true, :class => 'form') do |f| %>
  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% @todolist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <small><%= f.label :title %></small><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <small><%= f.label :note %></small><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <small><%= f.label :duedate %></small><br />
    <%= f.date_select :duedate %>
  </div>
  <br />
  <div class="field">
	<small>Status: </small>
	<%=select_tag "todolist[compl]", options_for_select([["Open", "0"], ["Done", "1"]], :compl)%> | <small>Prio: </small><%=select_tag "todolist[prio]", options_for_select([["-1", "-1"], ["0", "0"], ["1", "1"], ["2", "2"]], :prio)%>
	</div>
<br />
  <div class="field">
	<small><%= f.label 'Tag List (Delimiter = ,)' %></small><br />
	<%= f.text_field :tag_list %>
  </div>
<br />
  <div class="actions">
    <%= f.submit %> | <%= link_to 'Back', @todolist, :class => 'action_back' %> <a id="foo" href="/todolists/<%= @todolist.id %>" onclick="reopen();">dasdsad</a>
  </div>
<% end %>