<div class="main-content grid_4 alpha"  id="todolists">
    <header>
        <ul class="action-buttons clearfix fr">
            <li><a href="calendar.html" class="button button-gray no-text" title="View the Task Calendar"><span class="calendar"></span></a></li>
            <li><a href="documentation/index.html" class="button button-gray no-text help" rel="#overlay"><span class="help"></span></a></li>
        </ul>
        <div class="view-switcher">
            <h2>All Tasks <a href="#">&darr;</a></h2>
            <ul>
                <li><a href="#">All Tasks</a></li>
                <li><a href="#">All Tasks Today</a></li>
                <li><a href="#">All Tasks Tomorrow</a></li>
                <li class="separator"></li>
                <li>Recently done...</li>
                <li class="separator"></li>
                <li><a href="#">Yesterday</a></li>
                <li><a href="#">Last Week</a></li>
            </ul>
        </div>
    </header>
    <section>
        <ul class="listing list-view">
		<% @list.todolists.each do |todolist| %>
		<%if !todolist.id %>
			<%break%>
		<% end %>
            <% if todolist.compl == 1%>
            <li class="tick">
                <a class="more" href="/todolists/<%= todolist.id %>" >&raquo;</a>
				<span class="timestamp"><strike><%= todolist.duedate %></strike></span>
                <a href="#">Done</a>
                <p><strike><%= todolist.title %></strike></p>
				<%else%>
			<li class="calendar">
                <a class="more" href="/todolists/<%= todolist.id %>" >&raquo;</a>
				<span class="timestamp"><%= todolist.duedate %></span>
				<div style="text-transform:capitalize;">
				<% if !todolist.duedate.blank?
					t = Time.now
					t.strftime("%Y/%m/%d")
						if t < todolist.duedate %>
							<strong><%=time_ago_in_words(todolist.duedate, t) %> left</strong>
						<% else %>
							<strong><%= distance_of_time_in_words(todolist.duedate, t) %> late</strong>
						<%end%><%end%>
						</div>
                <p><%= todolist.title %></p>
				<%end%>
            </li>
		<% end %>
        </ul>
        <ul class="pagination clearfix">
            <li><a href="#" class="button-blue">&laquo;</a></li>
            <li><a href="#" class="current button-blue">1</a></li>
            <li><a href="#" class="button-blue">2</a></li>
            <li><a href="#" class="button-blue">3</a></li>
            <li><a href="#" class="button-blue">&raquo;</a></li>
			<div style="float: right;" class="button button-blue" onclick = "showCreateTodolistForm();">Create Todolist</div>
        </ul>
    </section>
</div>