<div class="main-content grid_4 alpha"  id="todolists">
    <header>
        <ul class="action-buttons clearfix fr">
            <li><a href="calendar.html" class="button button-gray no-text" title="View the Task Calendar"><span class="calendar"></span></a></li>
            <li><a href="documentation/index.html" class="button button-gray no-text help" rel="#overlay"><span class="help"></span></a></li>
        </ul>
        <div class="view-switcher">
            <h2>All Tasks <a href="#">&darr;</a></h2>
            <ul>
                <li><a href="#">All Tasks</a></li>
                <li><a href="#">All Tasks Today</a></li>
                <li><a href="#">All Tasks Tomorrow</a></li>
                <li class="separator"></li>
                <li>Recently done...</li>
                <li class="separator"></li>
                <li><a href="#">Yesterday</a></li>
                <li><a href="#">Last Week</a></li>
            </ul>
        </div>
    </header>
    <section>
        <ul class="listing list-view">
            <li class="tick">
                <a class="more" href="taskdetails.html">&raquo;</a>
                <span class="timestamp">Dec 28, 2010</span>
                <a href="#">Today</a>
                <p>Cras egestas vestibulum nisl, nec eleifend nunc pulvinar non.</p>
            </li>
		<% @list.todolists.each do |todolist| %>
		<%if !todolist.id %>
			<%break%>
		<% end %>
            <li class="calendar">
                <a class="more" href="/todolists/<%= todolist.id %>" >&raquo;</a>
                <span class="timestamp"><%= todolist.duedate %></span>
                <a href="#">Tomorrow</a>
                <p><%= todolist.title %></p>
            </li>
		<% end %>
        </ul>
        <ul class="pagination clearfix">
            <li><a href="#" class="button-blue">&laquo;</a></li>
            <li><a href="#" class="current button-blue">1</a></li>
            <li><a href="#" class="button-blue">2</a></li>
            <li><a href="#" class="button-blue">3</a></li>
            <li><a href="#" class="button-blue">&raquo;</a></li>
			<div style="float: right;" class="button button-blue" onclick = "toggleCreateTodolistForm();">Create Todolist</div>
        </ul>
			<div id = "create_todolist" class='form grid_3' style="display: none;">
			<%= form_for([@list, @list.todolists.build]) do |f| %>
			<fieldset>
			<legend>Create todolist</legend>
			Enter a Task title<br/>
						<%= f.text_field :title, :class => "text_box auto_exapnd_ta", :autocomplete => "off", :style => "height: 19px;"%><br/> 
			What needs to be done?<br/>
						<%= f.text_area :note, :class => "text_box auto_exapnd_ta", :rows => "5", :autocomplete => "off"%><br/>
			Needs to be done before... optional<br/>
						    <%= f.date_select :duedate, :default => Time.now, :include_blank => true, :start_year => Time.now.year, :class => "text_box auto_exapnd_ta", :autocomplete => "off"%><br/>
			Prio <%=select_tag "todolist[prio]", options_for_select([["-1", "-1"], ["0", "0"], ["1", "1"], ["2", "2"]], "0")%><br/>
			Tag List (Delimiter = ,)<br />
						    <%= f.text_field :tag_list, :class => "text_box auto_exapnd_ta", :autocomplete => "off", :style => "height: 19px;"%><br/>
			<%= f.submit :class=>"button button-orange" %>
			<div onclick = "toggleCreateTodolistForm();" class="button button-gray">Cancel</div>
			</fieldset>
			<% end %>
		</div>
    </section>
</div>